# python requirements
openmesh>=1.1.2
opencv-python==4.2.0.32
PyOpenGL>=3.1.0
numpy
scipy
matplotlib
Pillow
scikit-learn
scikit-image
cffi
tqdm
configparser
absl-py
ipdb
git+https://github.com/yig/PySPQR.git@v1.0.0
